rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn() && request.auth.token.admin == true;
    }

    function validContentType() {
      return request.resource.contentType.matches('audio/.*')
        || request.resource.contentType.matches('image/.*');
    }

    function validSize() {
      return request.resource.size < 25 * 1024 * 1024;
    }

    match /radio-submissions/{allPaths=**} {
      allow write: if signedIn() && validContentType() && validSize();
      allow read: if true;
      allow delete: if isAdmin();
    }
  }
}
